<h1>Edit <%=link_to @coupon.name, "/coupons/#{@coupon.id}" %></h1>

<center>
  <%= form_for [@merchant, @coupon], url: merchant_user_coupon_path(@coupon) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name%>

    <%= f.label :code %>
    <%= f.text_field :code %>

    <%= f.label :percent %>
    <%= f.text_field :percent %>

    <%= f.submit 'Submit' %>
  <% end %>
<center>
