<%= link_to "Add Coupon", new_merchant_coupon_path %><br>

<% current_user.merchant.coupons.each do |coupon| %>
  <section id="coupon-<%= coupon.id %>"><br>
    <%= link_to coupon.name, "/merchant/coupons/#{coupon.id}" %><br>
    <%= coupon.code %><br>
    <%= coupon.percent %>
  </section>
<% end %>
