<h1> Hello, <%= current_user.name %>! Welcome to your Admin Dashboard!</h1>

<% @orders.each do |order| %>
<section id = "order-<%= order.id %>">
  <%= link_to order.user.name, "/admin/users/#{order.user.id}" %><br>
  <%= order.id %><br>
  <%= order.created_at %><br>
  <%= order.status %>
</section><br>
<% end %>
