<section class = "shipping-address">
  <h1 align = "center">Shipping Info</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Status</th>
    </tr>
    <tr>
      <td><p><%= @order.id %> </p></td>
      <td><p><%= @order.created_at %> </p></td>
      <td><p><%= @order.updated_at %> </p></td>
      <td><p><%= @order.status %> </p></td>
    </tr>
  </table>
</section>

<h1 align = "center">Order Info</h1>
<center>
  <table>
    <tr>
      <th>Item</th>
      <th>Sold By</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  <% @order.item_orders.each do |item_order|%>
    <tr>
    <section id = "item-<%=item_order.item_id%>">
        <td><p><%=link_to item_order.item.name, "/items/#{item_order.item_id}"%></p></td>
        <td><p><%= link_to item_order.item.merchant.name, "/merchants/#{item_order.item.merchant.id}"%></p></td>
        <td><p><%= item_order.item.description %></p></td>
        <td><p><%= number_to_currency(item_order.price)%></p></td>
        <td><p><%= item_order.quantity%></p></td>
        <td><p><%= number_to_currency(item_order.subtotal)%></p></td>
        <td><a target="_blank" href=<%= item_order.item.image %>>
                <img src=<%= item_order.item.image %> alt="Forest" style="width:150px">
            </a></td>
      </section>
    </tr>
  <% end %>
</table>

<section id="grandtotal">
  <p>Grand Total: <%=number_to_currency(@order.grandtotal)%></p>
</section>
<section id="datecreated">
  <p>Item Total:<%= @order.total_items %></p>
</section>

<% if @order.status == 'pending' %>
  <p><%= link_to "Cancel Order", "/admin/users/#{@order.user.id}/orders/#{@order.id}", method: :delete %></p>
<% end %>
