<center>
  <h1>Enter Your New Password</h1>
  <%= form_tag profile_path, method: :patch do %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= label_tag :password_confirmation %>
  <%= password_field_tag :password_confirmation %>
  <%= hidden_field_tag(:update, "password")%>
  <%= submit_tag 'Submit' %>
  <% end %>
</center>
