<h1 align = "center">Merchants</h1>
  <p align="center"><%= link_to "New Merchant", "/merchants/new" %></p>
    <section class = "grid-container">
      <% @merchants.each do |merchant|%>
        <section class = "grid-item">
          <section id="merchant-<%= merchant.id%>">
            <h2><%=link_to merchant.name, "/admin/merchants/#{merchant.id}"%></h2>
            <p>City: <%= merchant.city %></p>
            <p>State: <%= merchant.state %></p>
            <% if merchant.enabled? %>
              <%= button_to "Disable", "/admin/merchants/#{merchant.id}", method: :patch %>
            <% else %>
              <%= button_to "Enable", "/admin/merchants/#{merchant.id}", method: :patch %>
            <% end %>
          </section>
        </section>
      <% end %>
  </section>
