<h1>Order: <%= @merchant_show.order.id %>, Show Page</h1>

<p><b>Customer Name: </b><%= @merchant_show.find_customer.name %></p><br>
<p><b>Address:</b></p>
<p><b></b><%= @merchant_show.find_customer.address %><br>
<%= @merchant_show.find_customer.state %><br>
<%= @merchant_show.find_customer.city %><br>
<%= @merchant_show.find_customer.zip %><br>

<section id = "items_order_merch">
  <h1>Items:</h1>
    <% @merchant_show.find_items.each do |item| %>
      <section id = "item-<%= item.id %>">
        <h3><%= link_to "Item: #{item.name}", "/items/#{item.id}" %></h3>
        <li>Price: $<%= item.price %></li>
        <li>Quantity: <%= @merchant_show.find_quantity(item.id) %></li>
        <section>
          <div><img id="hl_img" src= <%= item.image %> ></div>
        </section>
        <% if @merchant_show.able_to_fulfill(item.id) %>
          <%= button_to "Fulfill", "/merchant/orders/#{@merchant_show.order.id}", method: :patch, params: {item_id: item.id, quantity: @merchant_show.find_quantity(item.id)} %>
        <% elsif !(@merchant_show.find_item_order_status(item.id)) %>
          <p>Already Fulfilled</p>
        <% else %>
          <p>Inadequate Inventory Level</p>
        <% end %>
      </section>
    <% end %>
</section>
